@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=PT+Serif&display=swap');
@import './node_modules/material-design-icons/iconfont/material-icons.css';


:root {
    --primary: #ffa726;
    --primary-l: #ffd95b;
    --primary-d: #c77800;
    --text-dark: #414141;
    --text-light: #ffffff;

    --mobile: 576px;
    --tablet: 768px;
    --desktop: 992px;
}

html {
    font-family: 'PT Serif', serif;
    color: var(--text-dark);
}

h1, h2, h3, h4 {
    font-family: 'Noto Sans JP', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 1em;
}

h1 {
    font-size: 4rem;
    text-align: center;
    padding: .3em 1em;
    background-color: var(--primary);
    width: 100%;
}

@media(max-width: 768px){
    h1 {
        font-size: 3rem;
        padding: .3em;
    }
}

h2 {
    font-size: 2rem;
    border-bottom: 3px solid var(--primary);
}

p{
    font-size: 1.2rem;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* Tools */
.pull-right{
    text-align: right;
}

.fluid-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
}

.fluid-2-asim {
    grid-template-columns: 3fr 1fr;
}

@media(max-width: 576px) {
    .fluid-2{
        grid-template-columns: 1fr;
    }
}

/* Header */
header {
    background-color: #ffffff;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

header nav#menu li:first-child {
    display: none;
}

header nav a {
    text-transform: uppercase;
    margin-left: 1em;
    font-weight: bold;
    color: var(--text-dark);
}

header nav a:hover {
    color: var(--primary-d);
}

img.logo {
    width: 200px;
    aspect-ratio: 304/105;
}

@media(max-width: 768px){

    header nav#menu li {
        display: none;
        font-size: 2rem;
        padding: 1em;
        padding-top: 0;
        text-align: right;
        z-index: 100;
    }

    header nav#menu li:first-child {
        display: block;
        padding-top: 1em;
    }

    header nav#menu .material-icons {
        font-size: 3rem;
    }

    header nav ul {
        position: absolute;
        right: 0;
        top: 0;
        flex-direction: column;
        margin: 0;
    }

    header nav#menu ul.responsive_menu li {
        display: block;
        background-color: #ffffff;
    }
}

/* Portada */
body#portada {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--primary);
}

.capsalera {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10vh;
}

.capsalera h1 {
    position: absolute;
}

body#portada .capsalera img {
    max-height: 80vh;
    clip-path: polygon(75% 0, 91% 18%, 83% 38%, 100% 56%, 94% 62%, 78% 57%, 60% 83%, 20% 100%, 3% 98%, 0 80%, 11% 66%, 2% 55%, 27% 17%);
    aspect-ratio: 1920/1080;
}

.capsalera img {
	aspect-ratio: 1918/700;
}

@media(max-width: 992px){
	.capsalera img {
		aspect-ratio: 935/700;
	}

    body#portada .capsalera img {
        aspect-ratio: 992/745;
    }
}

@media(max-width: 576px){
	.capsalera img {
		aspect-ratio: 543/758;
	}

    body#portada .capsalera img {
        aspect-ratio: 1/1;
    }
}


/* Productes */
.grid-productes{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 3rem;
    padding: 3rem;
}

.producte img{
    border-radius: 1em;
}

img.producte_preview {
    width: 100%;
    clip-path: circle(65%);
    transition: clip-path 1s;
    aspect-ratio: 1/1;
}

img.producte_preview:hover {
    clip-path: circle(50%);
}

/* Producte */
#ingredients li:first-letter {
    text-transform: capitalize;
}

#ingredients ul {
    list-style-type: none;
    padding: 0;
}

#ingredients img {
    border-radius: 10px;
    aspect-ratio: 1/1;
}

#mapa {
    width: 100%;
    height: 50vh;
}

.relacionats {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 3rem;
}

.relacionats a {
    position: relative;
}

.relacionats h3 {
    background-color: var(--primary);
    color: var(--text-dark);
    padding: .5em 2em;
    position:absolute;
    bottom: 3em;
    border-top-right-radius: .5em;
    border-bottom-right-radius: .5em;
}

/* Credits */
.credit {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 2em;
}

.credit p {
    margin: .2em;
    word-break: break-all;
}

.credit p:nth-child(odd){
    color: var(--primary-d);
    font-weight: bold;
    
}

@media (min-width: 768px) {

    .credit {
        display: grid;
        grid-template-columns: 2fr 3fr;
    }

    .credit p:nth-child(odd){
        text-align: right;
    }
}

/* footer */
footer {
    background-color: var(--text-dark);
    color: var(--text-light);
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer a {
    font-size: 1.3rem;
    color: var(--text-light);
}

footer a:hover {
    text-decoration: underline;
}

@media (max-width: 576px) {
    footer, footer .pull-right {
        text-align: center;
    }
}

/* Animació svg */
@keyframes moviment {
    0% { 
        transform: scale(1.0); 
    }
    25% { 
        transform: scale(1.1) translate(10%, -50%);
    }
    50% { 
        transform: scale(1.0) translate(25%); 
    }
    75% { 
        transform: scale(1.1) translate(35%, -50%); 
    }
    100% { 
        transform: scale(1.0) translate(50%); 
    }
 }

 #fruita {
    animation-name: moviment;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
 }