@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=PT+Serif&display=swap');
@import './node_modules/material-design-icons/iconfont/material-icons.css';


:root {
    --primary: #ffa726;
    --primary-l: #ffd95b;
    --primary-d: #c77800;
    --text-dark: #414141;
    --text-light: #ffffff;

    --mobile: 576px;
    --tablet: 768px;
    --desktop: 992px;
}

html {
    font-family: 'PT Serif', serif;
    color: var(--text-dark);
}

h1, h2, h3, h4 {
    font-family: 'Noto Sans JP', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 1em;
}

h1 {
    font-size: 4rem;
    text-align: center;
    padding: .3em 1em;
    background-color: var(--primary);
    border-radius: .1em;
    /*text-shadow: #000000 0 0 2em;*/
}

h2 {
    font-size: 2rem;
    border-bottom: 3px solid var(--primary);
}

p{
    font-size: 1.2rem;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    border-radius: .5em;
}

/* Tools */
.pull-right{
    text-align: right;
}

.fluid-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
}

.fluid-2-asim {
    grid-template-columns: 3fr 1fr;
}

@media(max-width: 576px) {
    .fluid-2{
        grid-template-columns: 1fr;
    }
}

/* Header */
header {
    background-color: #ffffff;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

header nav#menu li:first-child {
    display: none;
}

header nav a {
    text-transform: uppercase;
    margin-left: 1em;
    font-weight: bold;
    color: var(--text-dark);
}

header nav a:hover {
    color: var(--primary-d);
}

header img.logo {
    width: 200px;
}

@media(max-width: 768px){

    header nav#menu li {
        display: none;
        font-size: 2rem;
        padding: 1em;
        padding-top: 0;
        text-align: right;
    }

    header nav#menu li:first-child {
        display: block;
        padding-top: 1em;
    }

    header nav#menu .material-icons {
        font-size: 3rem;
    }

    header nav ul {
        position: absolute;
        right: 0;
        top: 0;
        flex-direction: column;
        margin: 0;
    }

    header nav#menu ul.responsive_menu li {
        display: block;
        background-color: #ffffff;
    }
}

/* Portada */
body#portada {
    width: 100vw;
    height: 100vh;
    background-image: url('./img/portada.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Capçaleres */
.capsalera_bg {
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom: 1em solid var(--primary);
}

.capsalera {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    margin-bottom: 10vh;
    min-height: 300px; 
}

#sobre_nosaltres .capsalera {
    background-image: url('./img/sobre_nosaltres_bg.jpg');
}

#productes .capsalera {
    background-image: url('./img/productes.jpg');
}

#enllasos .capsalera {
    background-image: url('./img/enllasos.jpg');
}

/* Productes */
.grid-productes{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 3rem;
    padding: 3rem;
}

.producte img{
    width: 100%;
    border-radius: 1em;
}

.producte a {
    background-color: var(--primary);
    color: var(--text-dark);
    border: 1px solid var(--primary-d);
    display: block;
    text-align: center;
    padding: .5em;
    border-radius: .3em;
    font-weight: bold;
}

/* Producte */
#ingredients li:first-letter {
    text-transform: capitalize;
}

#ingredients ul {
    list-style-type: none;
    padding: 0;
}

#mapa {
    width: 100%;
    height: 50vh;
}


/* footer */
footer {
    background-color: var(--text-dark);
    color: var(--text-light);
}