<footer>
    <div class="container fluid-2">
        <div>
            <img src="./img/logo.png" alt="logo" srcset="./img/logo.png 304w" sizes="(max-width: 600px) 50vw, 300px">
            <p>Domènec Cintes Sastre - M4.257 - Eines HTML i CSS - UOC</p>
        </div>

        <ul class="pull-right">
            <li><a href="/index.html">Index</a></li>
            <li><a href="/productes.html">Productes</a></li>
            <li><a href="/aboutUs.html">Sobre nosaltres</a></li>
            <li><a href="/enllacos.html">Enllaços</a></li>
        </ul>
    </div>
</footer>

<script src="./js/main.js"></script>