<header>
    <div class="container">
        <a href="./index.html"><img class="logo" src="./img/logo.png" alt="logo" loading="lazy"></a>
        <nav id="menu">

            <ul>
                <li>
                    <a href="javascript:void(0);" id="menuToggle">
                        <span class="material-icons">
                            menu
                        </span>
                    </a>
                </li>
                <li><a href="./index.html">Portada</a></li>
                <li><a href="./productes.html">Productes</a></li>
                <li><a href="./aboutUs.html">Sobre nosaltres</a></li>
                <li><a href="./enllacos.html">Enllaços</a></li>
            </ul>

        </nav>
    </div>
</header>